{% include base.html %}
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" {% if {{include.active}} == "Forecasts" %}class="active"{% endif %}><a href="{{ base }}/{{ page.fcst-type }}/most-recent-forecast/main.html">Most Recent Forecasts</a></li>
          <li role="presentation"{% if {{include.active}} == "Verifications" %}class="active"{% endif %}><a href="{{ base }}/{{ page.fcst-type }}/most-recent-verification/main.html">Most Recent Verifications</a></li>
          <li role="presentation"{% if {{include.active}} == "Archive" %}class="active"{% endif %}><a href="{{ base }}/{{ page.fcst-type }}/archive/main.html">Archive</a></li>
      </ul>
	</div>
  </div>
<div>
