<nav aria-label="Issue Date">
  <ul class="pagination">
    <h5>Forecast Issue Date</h5>
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li {% if page.issue-date == "20170418" %} class="active"{% endif %}><a href="{{ base }}/{{ page.fcst-type }}/archive/{{ page.fcst-var }}/2017-04-18.html">2017-04-18</a></li>
    <li {% if page.issue-date == "20170502" %} class="active"{% endif %}><a href="{{ base }}/{{ page.fcst-type }}/archive/{{ page.fcst-var }}/2017-05-02.html">2017-05-02</a></li>
    <li {% if page.issue-date == "20170516" %} class="active"{% endif %}><a href="{{ base }}/{{ page.fcst-type }}/archive/{{ page.fcst-var }}/2017-05-16.html">2017-05-16</a></li>
    <li {% if page.issue-date == "20170530" %} class="active"{% endif %}><a href="{{ base }}/{{ page.fcst-type }}/archive/{{ page.fcst-var }}/2017-05-30.html">2017-05-30</a></li>
    <li {% if page.issue-date == "20170613" %} class="active"{% endif %}><a href="{{ base }}/{{ page.fcst-type }}/archive/{{ page.fcst-var }}/2017-06-13.html">2017-06-13</a></li>
    <li {% if page.issue-date == "20170627" %} class="active"{% endif %}><a href="{{ base }}/{{ page.fcst-type }}/archive/{{ page.fcst-var }}/2017-06-27.html">2017-06-27</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
