---
layout: default
---
{% include header.html active="Nipa" %}
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="{{ base }}/seasonal/most-recent-forecast/main.html">Most Recent Forecasts</a></li>
          <li role="presentation"><a href="{{ base }}/seasonal/most-recent-verification/prcp/world.html">Most Recent Verifications</a></li>
          <li role="presentation"><a href="#">Archive</a></li>
      </ul>
	</div>
    <div class="col-md-12">
      <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#">Precipitation</a></li>
        <li role="presentation"><a href="#">Temperature</a></li>
      </ul>
	</div>
    <div class="col-md-12">
      <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#">CONUS</a></li>
        <li role="presentation"><a href="#">Worldwide</a></li>
      </ul>
	</div>
  </div>
  <div class="row">
    <div class="col-md-12">
        {{ content }} 
    </div>
  </div>
</div>
